* {
  transition: 0.3s;
  user-select: none;
  text-shadow: 0 0 0.267vw rgb(0, 0, 0);
  border: none;
  border-radius: 0;
  margin: 0 auto;
  padding: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

::selection {
  color: white;
  background: rgb(255, 30, 30);
}

body {
  width: 100vw;
  height: 100vh;
  position: fixed;
}
body > * {
  transform: scale(1);
}
#bgimage {
  display: inline;
  position: absolute;
  background-image: url("images/brick\ wall\ \(2\).jpg");
  filter: blur(1.333vw);
  border: none;
  transform: scale(1.5) rotate(90deg);
  /* Full height */
  width: 100%;
  height: 150%;
  /* Center and scale the image nicely */
  background-position: 25% 10%;
  background-repeat: repeat;
  background-size: 50% ;
  z-index: -1;
  transition: 0;
}
#bgimage.OFF {
  filter: brightness(0.3);
}

#InputNo {
  position: absolute;
  display: block;
  background: rgba(96, 96, 96, 0.4);
  color: rgba(96, 96, 96, 0.5);
  width: 10%;
  height: 10%;
  margin: 0 auto;
  top: 60%;
  left: 45%;
  text-align: center;
  text-shadow: 0 0 0.367vw rgb(49, 49, 49);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 3vw;
  font-style: oblique;
  user-select: auto red;
  transition: .5s;
}

#InputNo:focus {
  font-style: normal;
  color: rgb(52, 255, 214);
  text-shadow: 0 0 0.667vw;
  box-shadow: inset 0 0 .5vw 0.167vw rgb(99, 240, 240);
  animation: InputLighting normal 5s infinite ease-in-out;
}
@keyframes InputLighting {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

#Buttons {
  position: absolute;
  margin: 0 auto;
  height: fit-content;
  top: 54vh;
  width: 50vw;
  left: 25vw;
}
.Button {
  position: relative;
  display: inline-block;
  background: rgb(255, 25, 25);
  color: white;
  width: 10vh;
  height: 5vh;
  text-align: center;
  line-height: 250%;
  font-size: 1vw;
  vertical-align: middle;
  font-weight: bold;
  margin: 5%;
  border-radius: 5%;
  box-shadow: 0 0.3vw 0vw -0.05vw rgba(255, 255, 255, 0.5);
}
.Button:hover {
  color: white;
  cursor: pointer;
  text-shadow: 0 0 0.667vw;
  background: rgb(255, 0, 0);
}
.Button.Active,
.Button:active {
  box-shadow: inset 0 0.3vw 0vw -0.05vw rgba(0, 0, 0, 0.492);
  filter: grayscale();
  transform: translateY(0.3vw);
  transition: 0.1s;
}
#OnOffBtn {
  float: left;
}
#StartBtn,
#StopBtn {
  float: right;
}

#Sign {
  display: inline-block;
  --color:rgba(255, 0, 187, .7);
  background: rgba(0, 34, 255, 0.103);
  position: absolute;
  left: 10vw;
  top: 15vh;
  width: 10vw;
  height: 12vh;
  max-height: fit-content;
  transform-origin: 5% 7%;
  border: .1vw groove rgb(255, 255, 255);
  box-shadow: inset 0 0 1vw var(--color), 0 0 1.333vw 0.267vw var(--color), 0 05px 15px 15px black;
  padding: 2vh;
  --startingPos: 55deg;
  --endingPos: 75deg;
  animation: initialFall 3s 1s ease-in-out normal,
    SignHanging 2s 4s infinite ease-in-out alternate,
    SignFlashing 3s 1.2s infinite alternate; 
}
@keyframes initialFall {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(120deg);
  }
  40%{
    transform: rotate(25deg);
  }
  70%{
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(var(--startingPos));
  }
}
@keyframes SignHanging {
  0% {
    transform: rotate(var(--startingPos));
  }
  100% {
    transform: rotate(var(--endingPos));
  }
}
@keyframes SignFlashing {
  0% {
    box-shadow: none;
  }
  1% {
    box-shadow: inset 0 0 1vw var(--color), 0 0 1.333vw 0.267vw var(--color), 0 05px 15px 15px black;
  }
  2% {
    box-shadow: none;
  }
  3% {
    box-shadow: inset 0 0 1vw var(--color), 0 0 1.333vw 0.267vw var(--color), 0 05px 15px 15px black;
  }
  6% {
    box-shadow:  none;
  }
  7%{
    box-shadow: inset 0 0 1vw var(--color), 0 0 1.333vw 0.267vw var(--color), 0 05px 15px 15px black;
    }  
  100%{
  box-shadow: inset 0 0 1vw var(--color), 0 0 1.333vw 0.267vw var(--color), 0 05px 15px 15px black;
  }
}
#SignBolts{
  display: inline;
}
#SignBolts *{
  margin: -1.6vh;
  height: .2vw;
  width:.2vw;
  background: rgb(250, 255, 157);
  border: 0.167vw solid rgb(92, 43, 0);
  border-radius: 1.333vw;
}
#Bolt-1{
float: left;
}
#Bolt-2{
  float: right;
}
#SignText{
  text-align: center;
  padding: 0;
  margin: 0;
}
#SignText span{
  width: fit-content;
  padding:0.2vw 1vw;
  /* animation: SignFlashing 3s 1.2s infinite alternate; */
  display: inline-block;
  margin: 1vw auto;
  margin-top: 0;
  font-family: fantasy;
  letter-spacing: .4vw;
  font-size: 1.5vw;
  text-align: center;
  text-decoration: dotted;
  box-shadow: 0 0 0.333vw 0.133vw rgba(9, 60, 245, 0.492);
  /* animation: SignFlashing 3s 1.2s infinite alternate; */
}
#SignText span:nth-child(1){
  --color:rgb(255, 0, 21);
  color: var(--color);
  text-shadow: 0 0 0.667vw;
  float: left;
}
#SignText span:nth-child(2){
  --color:rgb(80, 255, 80);
  color: rgb(80, 255, 80);
  text-shadow: 0 0 0.667vw;
  float: left;
}