/* Frame Settings */
#ScreenFrame {
  position: absolute;
  height: 49vh;
  width: 49vw;
  top: 5%;
  left: 25%;
  padding: 0.5vw;
  background: rgb(0, 0, 0);
  box-shadow: 0px 0px 10px 5px rgba(100, 100, 100, 0.1);
  text-align: center;
}
@media only screen and (max-width: 901px) {
  #ScreenFrame {
    position: absolute;
    height: 30vh;
    width: 49vw;
    top: 5%;
    left: 25%;
  }
  #CounterText {
    font-size: 50vw;
  }
}
/* Turn Screen On to see Frame GLow Animation */
#ScreenFrame.ON {
  transition: 3s;
  animation-name: ScreenGlow;
  animation-iteration-count: infinite;
  animation-duration: 60s;
  animation-delay: 3s;
  animation-direction: normal;
  box-shadow: 0 0px 10px 5px rgba(128, 0, 128, 0.5);
}
@keyframes ScreenGlow {
  0% {
    box-shadow: 0 0px 10px 5px rgba(128, 0, 128, 0.5);
  }
  14.2% {
    box-shadow: 0 0px 10px 5px rgb(255, 0, 93);
  }

  28.5% {
    box-shadow: 0 0px 10px 5px rgba(124, 0, 0, 0.495);
  }

  42.8% {
    box-shadow: 0 0px 10px 5px rgba(255, 0, 0, 0.5);
  }

  57.1% {
    box-shadow: 0 0px 10px 5px rgba(255, 166, 0, 0.5);
  }

  71.4% {
    box-shadow: 0 0px 10px 5px rgba(255, 255, 0, 0.5);
  }

  85.7% {
    box-shadow: 0 0px 10px 5px rgba(0, 128, 0, 0.5);
  }

  100% {
    box-shadow: 0 0px 10px 5px rgba(0, 0, 255, 0.5);
  }
}

/* Screen Settings */
#Screen {
  position: relative;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  margin: 0 auto;
  box-shadow: 0 10px 20px 10px black;
}

#Screen.OFF {
  transition: 1s;
  background: rgb(7, 7, 7);
  animation: OffFlashing normal 10s 10s infinite;
}
@keyframes OffFlashing {
  0% {
    background: rgb(255, 255, 255);
  }

  1% {
    background: rgb(15, 15, 15);
  }
  2% {
    background: rgb(200, 200, 200);
  }
  3% {
    background: rgb(15, 15, 15);
  }
  6% {
    background: rgb(100, 100, 100);
  }
  20% {
    background: rgb(15, 15, 15);
  }
}
#Screen.ON {
  animation: none;
  background: white;
  box-shadow: 0 10px 20px 10px rgba(0, 0, 0, 0.444), inset 0 0 10px 10px black;
}
#Screen.ON.Dark {
  background: rgb(15, 15, 15);
  box-shadow: none;
}
/* Inner Counter Settings */
#CounterText {
  position: relative;
  height: fit-content;
  width: fit-content;
  margin: 0 auto;
  top: 35%;
  text-align: center;
  font-size: 5vw;
  background: transparent;
  font-style: italic;
  text-shadow: 0 0 4px rgb(60, 60, 60);
}
#CounterText.OFF {
  color: rgb(15, 15, 15);
  text-shadow: 0 0 4px rgb(255, 255, 255);
}
#CounterText.ON {
  color: rgb(255, 30, 30);
  text-shadow: 0 0 5px;
}
#offSign {
  height: 6%;
  width: 6%;
  vertical-align: middle;
  opacity: .5;
}
#RotatingCircle {
  position: relative;
  resize: none;
  height: 200px;
  width: 200px;
  margin: 0 auto;
  border: 10px outset rgba(255, 93, 93, 1);
  box-shadow: inset 0 0 30px 10px rgba(255, 51, 51, 0.414), 0 0 10px 1px green;
  border-radius: 100%;
}
#RotatingCircle.OFF {
  display: none;
}
#RotatingCircle.ON {
  top: 4%;
  display: block;
  animation: RotatingCircle alternate infinite 1s ease-in-out;
}
@keyframes RotatingCircle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
